DATABASE_URL="postgres://user:password@ep-your-neon-host.region.aws.neon.tech/neondb?sslmode=require"
CLOUDINARY_CLOUD_NAME="dpghoiocq"
CLOUDINARY_API_KEY="283943216837512"
CLOUDINARY_API_SECRET="y_c8wSat2wFRqfuIjFuAwkA1aKE"

